@import "./_variables";
@import "./_animations";
@import "./_placeholders";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@font-face {
  font-family: "gtfxebl";
  src: url("../fonts/GT-Flexa-Compressed-Black-Trial.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: $background;
  margin: auto 48px;
}

/* Header */

header {
  font-family: "gtfxebl";
}

/* Title */

.title {
  border: $border;
  @extend %flex-overflow;
}

.title h1 {
  font-size: 7em;
  font-weight: 400;
  line-height: 1.3;
  white-space: nowrap;
  padding: 0 10px;
  animation: slide 40s linear infinite;
}

.titleOne {
  color: $text;
}

.titleTwo {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $text;
}

/* Bannière */

.banniere {
  border-left: $border;
  border-right: $border;
  @extend %flex-overflow;
}

.banniere h2 {
  font-size: 2em;
  white-space: nowrap;
  padding: 5px 5px;
  animation: slide-reverse 40s linear infinite;
}

.banniereOne {
  color: $text;
}

.banniereTwo {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $text;
}

/* Introduction */

.intro {
  font-family: "Roboto Mono", monospace;
  border: $border;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  position: relative;
}

.parallax:nth-child(2) {
  width: 80%;
  height: 100%;
  margin-left: 20px;
  transition: 0.2s linear;
}

.parallax:nth-child(1),
.parallax:nth-child(3) {
  position: absolute;
  clip-path: circle();
  background-color: $text;
  transition: 0.2s linear;
}

.parallax:nth-child(1) {
  top: 50px;
  left: -5%;
  width: 90%;
  height: 90%;
  z-index: -1;
}

.parallax:nth-child(3) {
  top: 80%;
  left: 65%;
  width: 7%;
  height: 7%;
}

.right {
  margin: auto;
  padding-right: 130px;
}

.right p {
  color: $text;
  font-size: 1.2em;
}

.right span {
  display: block;
  margin-bottom: 20px;
}

/* Email */

.email img {
  width: 22px;
  height: 100%;
}

.email {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

@media all and (max-width: 1350px) {
  body {
    margin: 20px 10px;
  }

  /* Introduction */

  .intro {
    grid-template-columns: 1fr;
  }

  .left {
    text-align: center;
  }

  .parallax:nth-child(2) {
    width: 70%;
    margin-left: 0;
  }

  .parallax:nth-child(1) {
    left: 20px;
    width: 80%;
    height: 80%;
  }

  .right {
    padding: 30px;
    text-align: center;
    grid-row: 1;
  }

  .right p {
    font-size: 1.1em;
  }

  .email {
    justify-content: center;
  }
}
